[submodule "kodiwebapp/lib/kodirpc"]
	path = kodiwebapp/lib/kodirpc
	url = https://github.com/noxbug/kodirpc
[submodule "kodiwebapp/lib/subtitle"]
	path = kodiwebapp/lib/subtitle
	url = https://github.com/noxbug/subtitle
