[submodule "lib/subtitle"]
	path = lib/subtitle
	url = https://github.com/noxbug/subtitle
[submodule "lib/--force"]
	path = lib/--force
	url = https://github.com/noxbug/kodirpc
[submodule "lib/--init"]
	path = lib/--init
	url = https://github.com/noxbug/kodirpc
