html, body {
	margin: 0; /* default margin and padding browser */
	padding: 0;
}


body {
    font-family: "Avenir Next", "Avenir", sans-serif;
    overflow: hidden; /* hide horizontal scroll bars */
}


#shadow {
    //box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}


.container {
	float: right; /* push navigation drawer off screen in portrait mode */
	display: flex;
	align-items: stretch; /* stretch height child divs to fill container height */
	min-height: 100vh; /* stretch full height of screen */
}


.navigation-drawer {
    width: 33.3333%;
    background: LightGrey;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto; /* make div scrollable (requires hard height constraint) */
}


.navigation-drawer a, .list-view a {
    text-decoration: none; /* remove underline */
}


.list-item {
    width: 100%;
    height: 56px;
    padding: 0.1px 0; /* fix collapsing border issue */
    color: black; /* remove link colors */
    display: flex; /* center text vertically */
    justify-content: center;
    flex-direction: column;
}


.list-item:hover {
    background-color: grey;
    color: white;
}


.page {
    //background: red;
    display: flex;
    flex-direction: column; /* child divs in column */
    flex-grow: 2; /* claim 2 units width */
}


.app-bar, .branding {
    width: 100;
    height: 56px; /* center text */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
}


.app-bar h6, .branding h6 {
    display: inline-block;  /* prevent line break */
    vertical-align: middle;
    flex-grow: 1;           /*  push buttons to right */

}


.app-bar {
    background: orange;
    color: white;
    border-color: grey;
    border-style: solid;
    border-width: 0 0 1px 0;
}


.menu {
    position: relative; /* dropdown content to be placed right below the dropdown button */
    display: inline-block;
}


.menu-content {
    display: none;      /* hidden by default */
    position: absolute; /* positioned relative to the nearest positioned ancestor  */
    right: 5px;         /* align dropdown menu right side */
    //top: 47px;        /* show below app bar */
    top: -5px;          /* sho on top of app bar */
    min-width: 160px;
    z-index: 1;         /* show on top */
    border-radius: 5px; /* rounded corners */
    overflow: hidden;   /* crop rounded corners when hover */
    background: white;  /* hide everything below */
}


.menu-content a {
    color: black;           /* remove link colors */
    text-decoration: none;  /* remove underline */
    line-height: 36px;      /* increase line-height for touchability */
    display: block;         /* make full div clickable */
    padding: 0.1px 0;       /* fix collapsing border issue */
}


.menu-content a:hover {
    color: white;
    background-color: grey;
}


.menu:hover .menu-content {
    display: block;
}


.content {
    width: 100%;
    max-height: 100%;
}


.list-view {
    width: 100%;
    //height: 200px;
    max-height: calc(100vh - 56px); /* subtract .app-bar height */
    -webkit-overflow-scrolling: touch;
    overflow-y: auto; /* make div scrollable (requires hard height constraint) */
}


.list-view .list-item {
    border-color: grey;
    border-style: solid;
    border-width: 0 0 1px 0;
}


/* PORTRAIT */
@media screen and (orientation:portrait) {
    .container {
        width: calc(100% + 50%); /* navigation drawer width 50% */
    }
}

/* LANDSCAPE */
@media screen and (orientation:landscape) {
    .container {
        width: 100%;
    }
}