/* font size: https://material.io/design/typography/the-type-system.html#type-scale */
h1 {
    font-size: 6em;
    margin: -0.1em 0;
    font-weight: lighter;
}


h2 {
    font-size: 3.75em;
    margin: -0.03125em 0;
    font-weight: lighter;
}


h3 {
    font-size: 3em;
    margin: 0 0;
    font-weight: normal;
}


h4 {
    font-size: 2.125em;
    margin: 0.015em 0;
    font-weight: normal;
}


h5 {
    font-size: 1.5em;
    margin: 0 0;
    font-weight: normal;
}


h6 {
    font-size: 1.125em;
    margin: 0.01em 0;
    font-weight: bold;
}


p {
    font-size: 0.875em;
    margin: 0.015625em 0;
    font-weight: normal;
}


.p1 {
    font-size: 1em;
    margin: 0.03125em 0;
    font-weight: normal;
}


.s1 {
    font-size: 1em;
    margin: 0.01em 0;
    font-weight: normal;
}


.s2 {
    font-size: 0.875em;
    margin: 0.00625em 0;
    font-weight: bold;
}


html, body {
	margin: 0; /* remove white border */
	padding: 0;
}


body {
    font-family: "Avenir Next", "Avenir", sans-serif;
}


.container {
	overflow: hidden; /* hide horizontal scroll bars */
}

.inner-container {
	//width: 100%; /* control width based on screen orientation */
	//float: right; /* use this property to control which element falls off-screen */
	display: flex;
	min-height: 100vh; /* stretch full height of screen, but allow scrolling */
}

/* PORTRAIT */
@media screen and (orientation:portrait) {
    .inner-container {
        width: 150%; /* push navigation off screen */
    }
}

/* LANDSCAPE */
@media screen and (orientation:landscape) {
    .inner-container {
        width: 100%;
    }
}