{% extends 'kodiwebapp/base_nav.html' %}


{% load static %}


{% block head %}
    {{ block.super }}
    <link href="{% static 'kodiwebapp/style_nav_ui.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block navigation %}
{% endblock %}


{% block ui %}
    <div class="content-container">
        <div class="menu-bar">
            <a href="{% url 'kodiwebapp:base_nav' %}">
                <h6>☰ {% block title %}{% endblock %}</h6>
            </a>
        </div>


        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}