{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="{% static 'kodiwebapp/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'kodiwebapp/style_font.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'kodiwebapp/manifest.json' %}" rel="manifest">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="navigation-drawer">
        <div class="branding">
            <h6>{{ widgets.app.branding }}</h6>
        </div>
        {% for item in widgets.navigation_drawer %}
            <a href="#">
                <span class="list-item">
                    <p class="s1">{{ item.label }}</p>
                </span>
            </a>
        {% endfor %}
    </div>
    <div class="page">
        <div class="app-bar">
            {% if widgets.navigation_drawer %}
                <i class="material-icons">menu</i>
            {% endif %}
            <h6>{{ widgets.app.name }}</h6>
            {% for item in widgets.app_bar_buttons %}
                {% if item.icon %}
                    <i class="material-icons" style>{{ item.icon }}</i>
                {% else %}
                    <button class="button">{{ item.label }}</button>
                {% endif %}
            {% endfor %}
        </div>
        <div class="content">
            <div class="list-view">
                {% for item in widgets.list_view %}
                    <a href="#">
                        <span class="list-item">
                            {% if item.detail %}
                                <p class="s2">{{ item.label|truncatechars:50 }}</p>
                                <p class="p2">{{ item.detail|truncatechars:50 }}</p>
                            {% else %}
                                <p class="s1">{{ item.label|truncatechars:50 }}</p>
                            {% endif %}
                        </span>
                    </a>
                {% endfor %}
            </div>
            {% block content %}
            <!--
            Inject code here or inflate one of the default widgets with  data. Custom CSS can be piggybacked in header.
            -->
            {% endblock%}
        </div>
    </div>
    {% block container %}
    {% endblock %}
</div>
</body>
</html>