{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="{% static 'kodiwebapp/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'kodiwebapp/style_font.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'kodiwebapp/manifest.json' %}" rel="manifest">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="navigation-drawer">
        <!-- APP BRANDING -->
        <div class="branding">
            <h6>{{ widgets.branding }}</h6>
        </div>
        <!-- NAVIGATION DRAWER -->
        {% for item in widgets.navigation_drawer %}
            <a href="{{ item.url }}">
                <span class="list-item">
                    <p class="s1">{{ item.label }}</p>
                </span>
            </a>
        {% endfor %}
    </div>
    <div class="page">
        <div class="app-bar">
            <!-- HAMBURGER MENU -->
            {% if widgets.navigation_drawer %}
                <i class="material-icons">menu</i>
            {% endif %}
            <!-- TITLE -->
            {% if widgets.view_name %}
                <h6>{{ widgets.view_name }}</h6>
            {% else %}
                <h6>{{ widgets.title }}</h6>
            {% endif %}
            <!-- APP BAR BUTTONS -->
            {% for item in widgets.app_bar_buttons %}
                {% if item.icon %}
                    <i class="material-icons" style>{{ item.icon }}</i>
                {% else %}
                    <button class="button">{{ item.label }}</button>
                {% endif %}
            {% endfor %}
            <!-- MENU -->
            {% if widgets.menu %}
                <div class="menu">
                    <i class="material-icons">more_vert</i>
                    <div class="menu-content" id="shadow">
                        {% for item in widgets.menu %}
                            <a href="{{ item.url }}">
                                <p>{{ item.label }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="content">
            {% block content %}
            <!--
            Inject code here or inflate one of the default widgets with  data. Custom CSS can be piggybacked in header.
            -->
            {% endblock%}
            <!-- LIST VIEW -->
            <div class="list-view">
                {% for item in widgets.list_view %}
                    {% if item.url %}
                        <a href="{{ item.url }}">
                    {% else %}
                        <a href="#">
                    {% endif %}
                        <span class="list-item">
                            {% if item.detail %}
                                <p class="s2">{{ item.label|truncatechars:50 }}</p>
                                <p class="p2">{{ item.detail|truncatechars:50 }}</p>
                            {% else %}
                                <p class="s1">{{ item.label|truncatechars:50 }}</p>
                            {% endif %}
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block container %}
    {% endblock %}
</div>
</body>
</html>